{% extends 'base/base.html' %}
{% block title %}Listado de Productos {% endblock %}
{% block content %}
<!-- Main component for a primary marketing message or call to action -->
</br>
</br>
</br>
<ol class="breadcrumb">
    <li><a href="#">Escritorio</a></li>
    <li class="active">Productos</li>
</ol>


<div class="page-header">
    <h1>Productos <small>Actualizados hasta hoy</small></h1>
</div>

<div class="row">
    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                Lista
                <p class="navbar-text navbar-right" style=" margin-top: 1px;">
                    <button type="button" id='nuevo'  name='nuevo' class="btn btn-warning navbar-btn" style="margin-bottom: 1px; margin-top: -5px;margin-right: 8px;padding: 3px 20px;">Nuevo</button>
                </p>
            </div>
            <div class="panel-body">

                <table class="table table-bordered">
                    <thead>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Marca</th>
                    <th>Acción</th>
                    </thead>
                    <tbody>
                    {% if object_list %}
                    {% for products in object_list %}

                        <tr>
                            <td>{{products.name}}</td>
                            <td>{{products.price}}</td>
                            <td>{{products.marks}}</td>
                           <td><a href="#">[Editar]</a>
                               <a href="#">[Eliminar]</a></td>
                        </tr>
                	  {% endfor %}
                    {% else %}
                    <h1>No hay registros de mascotas</h1>
                    {% endif %}
                    </tbody>


                </table>


            </div>
        </div>


    </div>
</div>

<script>
    $("#nuevo").click(function(event)
    {
        document.location.href = "#";
    });
</script>

{% endblock%}
